<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dasam Granth</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body class="dark-theme">
  <header class="header">
    <div class="logo">DasamGranth.com</div>
    <nav class="top-nav">
      <a href="/">Home</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
