<!-- templates/home.html -->
{% extends "base.html" %}
{% block content %}
<div class="homepage">
  <div class="search-box">
    <input type="text" placeholder="Search the Dasam Granth..." />
  </div>
  <h2 class="startreading">Start Reading</h2>
  <div class="bani-grid">
    <div class="bani-card">
      <h2>ਜਾਪੁ ਸਾਹਿਬ</h2>
      <p>Jaap Sahib</p>
      <a href="/scripture/jaap-sahib" class="btn">Begin</a>
    </div>
  </div>

  <div class="index-topic">
    <h2>Explore Bani</h2>
    <a href="/scripture/jaap-sahib">Jaap Sahib</a><br>
    <a href="/scripture/jaap-sahib">Akal Ustat</a><br>
    <a href="/scripture/jaap-sahib">Bachitar Natak</a><br>
    <a href="/scripture/jaap-sahib">Chandi Charitra I & II</a><br>
    <a href="/scripture/jaap-sahib">Chandi di Vaar</a><br>
    <a href="/scripture/jaap-sahib">Gian Prabodh</a><br>
    <a href="/scripture/jaap-sahib">Chaubis Avtar</a><br>
    <a href="/scripture/jaap-sahib">Brahma Avtar</a><br>
    <a href="/scripture/jaap-sahib">Rudra Avtar</a><br>
    <a href="/scripture/jaap-sahib">Shabad Hazare</a><br>
    <a href="/scripture/jaap-sahib">Zafarnama</a><br>
    <a href="/scripture/jaap-sahib">Chaubis Avtar</a><br>
    <a href="/scripture/jaap-sahib">Hikayats</a><br>
  </div>
</div>
{% endblock %}
